<!DOCTYPE html>
{% extends 'admin_basic_page.html' %}

{% block body_block %}
<div style="margin-top:20px;"class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-12">
      <div  class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> ABOUT </h6>
      </a>

      <h4 class="h4 mb-4">Library Information</h4>

      <p class="font-weight-normal">Library management is a sub-discipline of institutional management that focuses on specific issues faced by libraries and library management professionals.
	  Library management encompasses normal managerial tasks, as well as intellectual freedom and fundraising responsibilities.</p>

      <a class="btn btn-success">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
    </div>
    <div class="col">

    </div>
  </div>
</div>
<!--TEXT DIV-->
<div class="container">
  <div class="row">
    <div class="col">
      <h4>About Library Information System</h4>
        <hr/>
        <p>Library management is a sub-discipline of institutional management that focuses on specific issues faced by libraries and library management professionals.
            Library management encompasses normal managerial tasks, as well as intellectual freedom and fundraising responsibilities.
            </p>
    </div>
    <div class="col">
      <h4>Modules of project</h4>
        <hr/>
        <p>Library management is a sub-discipline of institutional management that focuses on specific issues faced by libraries and library management professionals.
            Library management encompasses normal managerial tasks, as well as intellectual freedom and fundraising responsibilities.
            </p>
    </div>
  </div>
</div>
{% endblock %}
