<!DOCTYPE html>
{% extends 'admin_basic_page.html' %}

{% block body_block %}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
<h4>Publisher Report</h4>
<table>
  <tr>
      <th> ID </th>
    <th> Publisher Name </th>
    <th> Publisher Description </th>
      <th> Update Publisher </th>
  </tr>

   {% for i in pub_list %}
    <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.publisher_name }}</td>
    <td>{{ i.publisher_description }}</td>
        <td> <a href="{% url 'appERP:pub_update' pk=i.pk %}">Update Publisher|<a href="{% url 'appERP:pub_delete' pk=i.pk %}">Delete Pubisher</a></a></td>
  </tr>
    {% endfor %}
</table>
</body>

{% endblock %}
