<!DOCTYPE html>
{% extends 'admin_basic_page.html' %}
{% block body_block%}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>
<body>
    {% if books %}
        <h5>Your Issued books details are as follows: </h5>
            <table>
             <tr>
                <th> Book Name </th>
                 <th>Expected Return date</th>
                 <th>FINE</th>


            </tr>
            {% for book in books %} <!-- PRINTING THEIR TABLE DETAIL -->
            <tr>
                <td>{{book.issueBookName}}</td>
                <td>{{ book.return_date }}</td>
                <td>{{ book.fine }}</td>
            </tr>
            {% endfor %}
    {% else %}
        <h1> You dont have any books issued </h1>
    {% endif %}

</table>

</body>
{% endblock %}
